# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================


# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#======================
# Custom settings
#======================

#ignore everything
*
PVB_OuderAvonden.sln
PVB_OuderAvonden.v12.sln

#do not ignore the core files of the project
!PVB_OuderAvonden/CodeGenerator
!PVB_OuderAvonden/Objects
!PVB_OuderAvonden/Database
!PVB_OuderAvonden/Models
